name: dev-5_0

on:
  push:
    branches-ignore:
      - 'main'
    tags-ignore:
      - '**'
  workflow_dispatch:

jobs:
  test-5_0:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2
  build-5_0:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2
      -
        name: Read image version
        uses: bfren/read-file-action@v1
        with:
          path: ./VERSION
        id: version
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./5.0/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            bcgdesign/aspnet:${{ steps.version.outputs.content }}-beta
            bcgdesign/aspnet:dev
            bcgdesign/aspnet:net5-dev
            bcgdesign/aspnet:net5.0-dev
            bcgdesign/aspnet:net5-${{ steps.version.outputs.content }}-beta
            bcgdesign/aspnet:net5.0-${{ steps.version.outputs.content }}-beta
            bfren/aspnet:${{ steps.version.outputs.content }}-beta
            bfren/aspnet:dev
            bfren/aspnet:net5-dev
            bfren/aspnet:net5.0-dev
            bfren/aspnet:net5-${{ steps.version.outputs.content }}-beta
            bfren/aspnet:net5.0-${{ steps.version.outputs.content }}-beta
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
